header{
    background-color: #fff9eb;
}

.menu{
    background-color: #031430 !important;
}

.menu a{
    color: #fff9eb !important;
}

footer{
    background-color: #031430 !important;
    padding: 50px 0;
    margin-top: 100px;
}

.bege{
    color: #fff9eb !important;
}

.azul{
    background-color: #031430 !important;
    border-color: #031430 !important;
}

.texto-azul{
    color: #031430 !important;
}

.azul:hover{
    background-color: #053177 !important;
}